#index {
    text-align: center;
    margin-top: 100px;
    
}

#content {
    background-color: #FFD98C;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

a:link {
    color: #424242;
}

a:hover {
    color: #8A7F5E;
}

a:visited {
    color: #635B43;
}

a:active {
    color: #424242;
}

.message {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 1em;
}

span.error {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

input.error {
    background-color: yellow;
}

body {
    font-family: Calibri, sans-serif;
    background-color: #EDEDED;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: aquamarine;
    text-transform: capitalize;
}

table.basic {
    border-collapse: collapse;
    margin: 10px;
    margin-left: 0px;
    border: solid 1px gray;
}

table.basic th {
    padding: 4px;
    border: solid 1px gray;
    border-bottom: solid 2px black;
}

table.basic td {
    padding: 4px;
    border: solid 1px gray;
}


/*  http://www.alistapart.com/articles/taminglists/ */
table.header {
    border: transparent;
    padding: 5px;
}

table.header td {
    vertical-align: bottom;
}
